<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/show_data.css">
    <title>Show Data</title>
</head>
<body>
    <h1>Show Data</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Surname</th>
                <!-- Aggiungi altre intestazioni per le colonne, se necessario -->
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <!-- Aggiungi altre celle per le colonne, se necessario -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
